* {
    background-color: #27292b;
    color: white;
    font-family: 'system-ui';
    font-weight: 200;

}

.main-section {
    display: flex;
    flex-direction: column;
}

.a3-subsection {
    margin: auto;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.a3-subsection h1 {
    font-weight: 800;
}

.a3-subsection h3 {
    margin-top: -20px;
    font-weight: 200;
}

.button {
    margin: 10;
    margin-left: 30px;
    font-weight: 400;
    padding: 5 10 5;
    border-radius: 10%;
    border-style: solid;
    border-width: 1;
}

.button:hover {
    background-color: gray;
}

.submit-button {
    margin-top: 40px;
    margin-left: 0px;
    padding: 10;
    border-color: white;
}

.form {
    margin-bottom: 80px;
}

.table-form {
    text-align: center;
    -webkit-border-horizontal-spacing: 40px;
}
